.container {
    width: 100%;
    height: 500px;
    background: violet;
}

.wrapper {
    display: flex;
    height: auto;
    width: 100%;
    
    color: white;
}

.card {
    border: 2px solid white;
    background-color: aqua;
}

.text-center {
    text-align: center;
}